<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add numbers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "/static/css/style.css">
</head>

<body>

    <h1>Add Integers</h1>

    <form id="form">
        <input type="text" size=5 id="firstnumber">
        +
        <input type="text" size=5 id="secondnumber">
        <button type="submit" name="button">Add</button>
    </form>

    <div id="output" class="output"></div>
    <div id="error" class="error"></div>


    <script type="text/javascript">
    $(document).ready(function() {
        console.log("Hello");
        $('#form').on('submit',function(e){
            $('#output').text('').hide();
            $('#error').text('').hide();
            $.ajax({
                data: {
                    firstnumber: $('#firstnumber').val(),
                    secondnumber: $('#secondnumber').val(),
                },
                type: 'POST',
                url: 'add_numbers',
                error: function(data){
                    $('#error').text("Error: " + data.responseJSON.error).show();
                },
                success: function(data){
                $('#output').text(data.output).show();
                }
            })

            e.preventDefault();
        });
    });
    </script>

</body>
</html>